{% extends "real_base.html" %}
{% block content %}
<div class="row clearfix">
	<div class="col-md-12 column">
</div>
<h3>&nbsp;</h3>
<div class="col-md-12 column w3-center w3-theme">
	<form method="POST">
		<div class="w3-center w3-theme" style="background-color: white;">
			{% for field in form %}
				<p><span>{{ field.label }}</span></p>
				<p><span>{{ field }}</span></p>
			{% endfor %}
			{% csrf_token %}	
		<button type="submit" style="border-radius: 10px; background-color: white; color: black;border:2px dark black">LOGIN</button>
		</div>
		<span>Need an account <a style="color: blue" href="{% url 'student_registration' %}">sign up</a></span>
	</form>
	</div>
</div>
{% endblock %}
