{% extends "real_base.html" %}
{% block content %}
<div class="w3-center">
	<div class="jumbotron" style="background-color: white;">
		<h1>You have been logged out ...</h1>
		<p>
			Thank you for using our online learning app we hope we did our best and also you did your best for all of us to understand the content we both shared for the betterment of the next generation young bright stars always <B>Learn it well</B>
		</p>
		<a class="w3-btn w3-white w3-border w3-border-black w3-round w3-round-xlarge" href="{% url 'login' %}"><b>Login again</b></a>
	</div>
</div>
{% endblock %}